// fonts
$font-primary: 'Gilroy Bold', Arial, Helvetica, sans-serif;
$font-title: 'Chronicle Display Semi', Times New Roman, Times, serif;
$font-subtitle: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
$font-footer: 'Gilroy Medium', Arial, Helvetica, sans-serif;

// background colors
$background: #0b1d26;

//text colors
$text-main: #fff;

// accent colors
$accent-color: #fbd784;
