header.header
  nav.header__nav.page__header
    +logo

    div.header__container
      ul.header__links
        li
          +link('Equipment', '#').link_primary
        li
          +link('About us', '#').link_primary
        li
          +link('Blog', '#blog').link_primary

    +nav-link('login', 'Account', '#').header__icon-link

    button.button.button_icon.header__burger(type='button' aria-label='Открыть меню' aria-expanded='false')
      +svg('menu').button__svg