header.header
  nav.header__container.page__header
    +logo

    div.header__nav
      ul.header__links
        li
          +link('Equipment', '#').link_primary
        li
          +link('About us', '#').link_primary
        li
          +link('Blog', '#about').link_primary

    +nav-link('login', 'Account', '#').header__link