.header {
  position: sticky;
  width: 100%;

  &__nav {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  &__links {
    display: flex;
    gap: 40px;
  }

  &__icon-link {
    padding-left: 0;
    padding-right: 2px;
    gap: 8px;

    & .icon-link__text {
      text-transform: none;
    }
  }

  &__burger {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .header__nav {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 640px) {
  .header__container {
    display: none;
  }

  .header__icon-link {
    display: none;
  }

  .header__burger {
    display: flex;
  }
}
