header.header
  nav.header__nav.page__container.page__container_type_header
    +logo

    div.header__container
      ul.header__links
        li
          +link('Equipment', '#')
        li
          +link('About us', '#')
        li
          +link('Blog', '#blog')

    +nav-link('login', 'Account', '#').header__icon-link

    button.button.button_icon.header__burger(type='button' aria-label='Open menu' aria-expanded='false')
      +svg('menu').button__svg