div.menu
  div.menu__container
    button.button.button_icon.menu__close(type='button' aria-label='Close menu' aria-expanded='false')
      +svg('close').button__svg
    nav.menu__nav
      ul.menu__list
        li.menu__link
          +link('Equipment', '#')
        li.menu__link
          +link('About us', '#')
        li.menu__link
          +link('Blog', '#blog')
      +nav-link('login', 'Account', '#').menu__link
      div.menu__social
        p.menu__text Follow us
        +icon-link('instagram', 'Instagram', '#')
        +icon-link('twitter', 'Twitter', '#')
div.overlay