mixin slider-link(title, href)
  a.slider__link(href=href)&attributes(attributes)= title

ul.slider.content__slider
  li.slider__tab.slider__tab_active
    +slider-link('Start', '#')
  li.slider__tab
    +slider-link('01', '#')
  li.slider__tab
    +slider-link('02', '#')
  li.slider__tab
    +slider-link('03', '#')