mixin slider-link(title, href)
  a.slider__link(href=href)&attributes(attributes)= title

ul.slider.content__slider
  li.slider__tab.slider__tab_active
    +slider-link('Start', '#intro')
  li.slider__tab
    +slider-link('01', '#blog-01')
  li.slider__tab
    +slider-link('02', '#blog-02')
  li.slider__tab
    +slider-link('03', '#blog-03')