.slider {
  display: flex;
  flex-direction: column;
  align-items: end;

  &__tab {
    padding: 18px 30px 18px 0;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: $text-opacity;
    transition: border-color .5s ease;

    &_active {
      border-right-color: $text-main;
    }
  }

  &__link {
    @include section-text;
    padding: 2px;

    &:focus-visible {
      outline: 1px solid $text-main;
    }
  }
}
