.content {
  min-height: calc(100vh - 280px);
  display: flex;
  flex-direction: column;

  &__slider {
    position: fixed;
    top: 277px;
    right: auto;
  }
}

@media screen and (min-width: 1212px) {
  .content__slider {
    top: 228px;
  }
}
