.link {
  position: relative;
  padding: 2px;
  @include section-link;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    border: none;
    width: 0;
    height: .5px;
    transition: width .5s ease;
  }

  @media (any-hover: hover) {
    &:hover::after {
      width: 100%;
    }
  }

  &_primary {
    color: $text-main;
    transition: color .5s ease;

    &:focus-visible {
      outline: 1px solid $text-main;
    }

    &::after {
      background: $text-main;
    }

    &:active {
      color: $accent-color;
    }
  }

  &_secondary {
    color: $accent-color;
    transition: background-color .5s ease;

    &:focus-visible {
      outline: 1px solid $accent-color;
    }

    &::after {
      background: $accent-color;
    }

    &:active {
      background-color: $text-main;
    }
  }

  &_span {
    padding: 0;

    &::after {
      background: $text-main;
    }
  }

  &__svg {
    padding: 2px 2px 2px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $text-main;
    transition: color .5s ease;

    &:focus-visible {
      outline: 1px solid $text-main;
    }

    &:active .icon {
      fill: $accent-color;
    }

    &:active {
      color: $accent-color;
    }
  }
}

.link:active.link:hover::after {
  width: 0;
}
