.link {
  position: relative;
  padding: 2px;
  @include section-link;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    border: none;
    width: 0;
    height: .5px;
    transition: width .5s ease-in-out;
  }

  &:focus-visible {
    outline: 1px solid $text-main;
  }

  @media (any-hover: hover) {
    &:hover::after {
      width: 100%;
    }
  }

  &:active.link:hover::after {
    width: 0;
  }

  &_primary {
    color: $text-main;
    transition: color .5s ease-in-out;

    &::after {
      background: $text-main;
    }

    &:active {
      color: $accent-color;
    }
  }

  &_secondary {
    color: $accent-color;
    transition: background-color .5s ease-in-out;

    &::after {
      background: $accent-color;
    }

    &:active {
      background-color: $text-main;
    }
  }
}
