.root::-webkit-scrollbar {
  width: 3px;
  background: $background;
}

.root::-webkit-scrollbar-track {
  background: $background;
}

.root::-webkit-scrollbar-thumb {
  background: $accent-color;
}

.root__popup {
  height: 100vh;
  overflow: hidden;
}

@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-color: $accent-color $background;
    scrollbar-width: thin;
  }
}
