.root::-webkit-scrollbar {
  width: 5px;
}
.root::-webkit-scrollbar-track {
  background: transparent;
}
.root::-webkit-scrollbar-thumb {
  background: $accent-color;
  border: 3px solid $accent-color;
  border-radius: 5px;
}

.root__popup {
  height: 100vh;
  overflow: hidden;
}
