.page {
  min-width: 320px;
  font-family: $font-primary;
  background-color: $background;
  color: $text-main;

  &__header {
    max-width: 1400px;
    margin: 0 auto -156px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__banner {
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;

    &_type_footer {
      margin-top: 200px;
    }
  }
}
