footer.footer.page__container.page__container_type_footer

  div.footer__column.footer__column_logo
    +logo
    p.footer__text Get out there &amp;&nbsp;discover your next slope, mountain &amp;&nbsp;destination!

  p.footer__copyright Copyright 2024&nbsp;MNTN, Inc. Terms &amp;&nbsp;Privacy

  nav.footer__column.footer__column_blog
    h3.footer__title More on The Blog
    ul.footer__links
      li
        +link('About MNTN', '#').footer__link
      li
        +link('Contributors & writers', '#').footer__link
      li
        +link('Write for us', '#').footer__link
      li
        +link('Contact us', '#').footer__link
      li
        +link('Privacy policy', '#').footer__link

  nav.footer__column.footer__column_mntn
    h3.footer__title More on MNTN
    ul.footer__links
      li
        +link('The team', '#').footer__link
      li
        +link('Jobs', '#').footer__link
      li
        +link('Press', '#').footer__link