section#intro.intro
  div.intro__container.page__banner
    div.intro__social
      p.intro__text Follow us
      +icon-link('instagram', 'Instagram', '#')
      +icon-link('twitter', 'Twitter', '#')
    div.intro__main
      +section-subtitle('A Hiking guide')
      h1.intro__title Be&nbsp;prepared for the Mountains and beyond!
      +scroll-down('#blog')
    aside.intro__slider
      include ../../components/slider/slider